{% extends "layout.html" %}
{% block title %}Main{% endblock %}
{% block head %}
{{ super() }}
<script>
  function setVideoType() {
    //setConsoleText("Setting video type...");
    const vidType = document.getElementById("vidType");
    fetch(window.location.origin + "/setvidtype", {
      headers: {
        "Content-Type": "application/json",
      },
      method: "POST",
      body: JSON.stringify({ type: vidType.options[vidType.selectedIndex].value })
    }).then(resp => {
      return resp.json();
    }).then(json => {
      //setConsoleText(JSON.stringify(json));
    });
  }
</script>
{% endblock %}
{% block header %}
RPiC Control Panel
{% endblock %}
{% block content %}
<div class="center">
  <div class="container" style="width: 500px;">
    <div class="input">
      <div class="label">
        <label for="vidType">Video Type</label>
      </div>
      <select id="vidType" class="value" onchange="setVideoType()">
        <option value="Recording" {% if settings.videoType=="Recording" %} selected="Selected" {% endif %}>
          Recording
        </option>
        <option value="Streaming" {% if settings.videoType=="Streaming" %} selected="Selected" {% endif %}>
          Streaming
        </option>
      </select>
    </div>
    <div class="input">
      <label class="label" for="camType">Camera Type</label>
      <select id="camType" class="value">
        {% for type in cameraTypes %}
        <option value="{{type}}">{{type}}</option>"
        {% endfor %}
      </select>
    </div>
  </div>
</div>
{% endblock %}