{% extends "layout.html" %}
{% block title %}Image Preview{% endblock %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>

</script>
<script>
  const times = [];

  const socket = io.connect(window.location.origin);

  function start() {
    socket.emit('start_preview');
    console.log("here 2");
  }

  socket.on('connect', () => {
    socket.emit('start_preview');
    console.log("here");
  });

  socket.on('preview_image', async (msg) => {
    const bytes = new Uint8Array(msg.image_data);

    var image = document.getElementById("snap_image");
    image.src = 'data:image/png;base64,' + encode(bytes);

    const now = performance.now();
    while (times.length > 0 && times[0] <= now - 1000) {
      times.shift();
    }
    times.push(now);
    document.getElementById("fps").innerHTML = times.length;
  });

  function encode(input) {
    var keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
    var output = "";
    var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
    var i = 0;

    while (i < input.length) {
      chr1 = input[i++];
      chr2 = i < input.length ? input[i++] : Number.NaN; // Not sure if the index 
      chr3 = i < input.length ? input[i++] : Number.NaN; // checks are needed here

      enc1 = chr1 >> 2;
      enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
      enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
      enc4 = chr3 & 63;

      if (isNaN(chr2)) {
        enc3 = enc4 = 64;
      } else if (isNaN(chr3)) {
        enc4 = 64;
      }
      output += keyStr.charAt(enc1) + keyStr.charAt(enc2) +
        keyStr.charAt(enc3) + keyStr.charAt(enc4);
    }
    return output;
  }
</script>
{% endblock %}
{% block header %}
Image Preview
{% endblock %}
{% block content %}

<div class="center">
  <div class="container" style="width: 900px;">
    <img id="snap_image" src="" width="900px" object-fit="cover" />
  </div>
  <span id="fps"> </span>
  <h1>Preview/VR Settings</h1>
  <div class="container" style="width: 500px;">
    <div class="input">
      <label class="label" for="segment_size">Segment Size (sec)</label>
      <input id="segment_size" class="value" type="number" min="0" value="{{settings.segmentSize}}" />
    </div>
    <div class="input">
      <label class="label" for="fps">FPS</label>
      <input id="fps" class="value" type="number" min="0" value="{{settings.fps}}" />
    </div>
    <button class="mt-1" onclick="saveSettings()">Save</button>
    <button class="mt-1" onclick="start()">?</button>
  </div>
</div>
{% endblock %}