{% extends "layout.html" %}
{% block title %}Image Preview{% endblock %}
{% block head %}
{{ super() }}
<script>

  function newSnapshot() {
    fetch(window.location.origin + "/newsnapshot", {
      method: "POST"
    });
  }

  function refreshImg() {
    const image = document.getElementById("snap_image");
    image.src = window.location.origin + "/snapshot";
  }
</script>
{% endblock %}
{% block header %}
Image Preview
{% endblock %}
{% block content %}

<div class="center">
  <div class="container" style="width: 500px;">
    <div>
      <img id="snap_image" src="" width="500px" object-fit="cover" />
    </div>
    <div>
      <button id="snap" onclick="newSnapshot()">New Snap</button>
      <button id="refresh" onclick="refreshImg()">Refresh</button>
    </div>
  </div>
</div>
{% endblock %}